<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="homePage.css">
  </head>
  <body>
    <h1>LPoker</h1>
    <main>
    <% if (!roomId) { %>
      <form method="POST" action="/create-room">
        <button class="button" type="submit">Create new room</button>
      </form>
    <% } %>
    <% if (roomId) { %>
      <a class="button confirm" href="/<%=roomId%>">Room created: follow me</a>
    <% } %>
    </main>
  </body>
</html>
