<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/home-page.css" />
  </head>
  <body>
    <header>
      <h1>LPoker</h1>
    </header>
    <main>
      <form method="GET" action="/join-room">
        <fieldset>
          <legend>Join room</legend>
          <input name="room" />
          <button type="submit">JOIN</button>
        </fieldset>
      </form>
    </main>
  </body>
</html>
