<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LPoker tool</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/room-page.css" />
  </head>
  <body>
    <header>
      <h1>LPoker</h1>
      <ul>
        <li>Your name: <i><%=userId%></i></li>
        <li>Your room: <i><%=roomId%></i></li>
      </ul>
    </header>
    <main>
      <form id="voting-form">
        <fieldset>
          <legend>Vote</legend>
          <label>
            0
            <input type="radio" name="vote" value="0" />
          </label>
          <label>
            1
            <input type="radio" name="vote" value="1" />
          </label>
          <label>
            2
            <input type="radio" name="vote" value="2" />
          </label>
          <label>
            3
            <input type="radio" name="vote" value="3" />
          </label>
          <label>
            5
            <input type="radio" name="vote" value="5" />
          </label>
          <label>
            8
            <input type="radio" name="vote" value="8" />
          </label>
          <label>
            13
            <input type="radio" name="vote" value="13" />
          </label>
          <label>
            21
            <input type="radio" name="vote" value="21" />
          </label>
          <label>
            34
            <input type="radio" name="vote" value="34" />
          </label>
          <label>
            ?
            <input type="radio" name="vote" value="?" />
          </label>
          <label>
            💩
            <input type="radio" name="vote" value="💩" />
          </label>
          <button type="submit">Submit</button>
        </fieldset>
      </form>
      <section id="controls">
        <button type="button" id="show-results-btn">Show results</button>
        <button type="button" id="start-new-session-btn">Start new session</button>
        <button type="button" disabled="true" id="cheat-btn">Cheat</button>
      </section>
      <div id="layout">
        <section id="results">
          <h3>Results</h3>
          <ul id="results-list"></ul>
        </section>
        <aside id="notifications">
          <h3>Notifications</h3>
          <ul id="notifications-list"></ul>
        </aside>
      </div>
    </main>
    <script>
      window.__roomId__ = "<%=roomId%>";
      window.__userId__ = "<%=userId%>";
    </script>
    <script src="/js/room-page/index.js" type="module"></script>
  </body>
</html>
