<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/room.css">
  </head>
  <body>
    <h1>LPoker</h1>
    <main>
        <h2>Room: <%=roomId%></h2>
    </main>
  </body>
</html>
