<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LPoker tool</title>
    <link rel="stylesheet" href="https://unpkg.com/@primer/css@^16.0.0/dist/primer.css" />
    <link rel="stylesheet" href="/global.css">
  </head>
  <body class="main-layout">
    <h1>LPoker</h1>
    <main>
        <h2 class="f2-light">Room: <%=roomId%></h2>
    </main>
  </body>
</html>
