#layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "a a"
    "b c";
  gap: 2rem;
}

#notifications {
  grid-area: b;
  width: calc(max(200px, 25vw));
}

#notifications ul {
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 1em;
  height: 400px;
  max-height: calc(min(400px, 100%));
  overflow-y: hidden;
}

#notifications ul::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(255, 255, 255, 0), #fff);
}

.notificaiton {
  color: lightslategray;
}

main {
  grid-area: c;
}
